body {
      font-family: Arial, sans-serif;
      background-color: #f4f7f9;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #d60000;
      color: white;
      padding: 20px;
      text-align: center;
    }

    .container {
      padding: 30px;
      max-width: 900px;
      margin: auto;
      background-color: white;
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #d60000;
    }

    ul {
      padding-left: 20px;
    }

    .footer {
      text-align: center;
      padding: 20px;
      background-color: #eee;
      margin-top: 40px;
    }

    .logo {
      position: fixed;
      top: 10px;
      right: 10px;
      width: 90px;
      z-index: 9999;
    }